* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}
body {
    background-color: #ffffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #7a480e;
    text-decoration: none;
    background-image: url(/img/Bckgrnd/stock-photo-wooden-table-top-with-the-mountain-landscape-652110877\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    text-indent: 7%;
}
.container {
    max-width: 1200px;
    height: 600px;
    margin: 15px auto;
    padding: 0 60px;
    background-color: #f7f3eaef;
}
.header {
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0 ,0, .1);
}
.header_container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_list {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 48px;
}
.menu_link {
    display:inline-block;
    color: #7a480e;
    opacity: 0.7;
    transition: transform 1.5s ;
}
.menu_link:hover {
    opacity: 1;
    transform: scale(1.1);
}
.menu_item_contacts {
    outline-width: 2px;
    outline-style:solid;
    outline-color: #15b122;
    border-radius: 4px;
    padding: 8px 13px; 
}
.menu_item_contacts:hover {
    outline-width: 3px;
}
.hero {
    position: relative;
    width: 100%;
    height: 700px;
}
.olga_photo {
    position: absolute;
    margin-top: 0px;
    opacity: 0.85;
    border-radius: 0 10px 0 10px; 
    outline: 4px solid #15b122; 
    box-shadow: 10px 10px 5px #999999; 
    overflow: hidden; 
    transition: transform 0.5s;
    width: 400px;
    height: 600px;
}
.olga_photo:hover{
    opacity: 1;
    transform: scale(1.05);
    outline: 5px solid #15b122; 
}
.hero_targeting {
    font-size: 26px;
    color: #7a480e;
    padding-top: 50px;
    margin-bottom: 60px;
}
.hero_title {
    color: #7a480e;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 22px;
    padding-bottom: 30px;
    margin-left: 450px;
}
.hero_title_consalt {
    color: #7a480e;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 450px;
    outline-width: 2px;
    outline-style:solid;
    outline-color: #15b122;
    border-radius: 4px;
    padding: 8px 13px; 
}

span {
    
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-align: center;
    background: -webkit-linear-gradient(left, #1d9126, #188b18, #056405, #117222, #138345);
    background: linear-gradient(left, #1d9126, #188b18, #056405, #117222, #138345);
    background-size: 3200px 200px;
    margin-top: 22vh;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: animate-logo;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    transition: font-size 500ms ease-in-out;
    }
   
   @media only screen and (min-width: 40.063em) {
    span {
    margin-top: 30vh;
         }
   }
   @media only screen and (min-width: 64.063em) {
    span {
    margin-top: 25vh;
         }
   }
   @media only screen and (min-width: 90.063em) {
    span {
    margin-top: 20vh;
         }
   }
   @media only screen and (min-width: 120.063em) {
    span {
    margin-top: 15vh;
        }
   }
   @-webkit-keyframes animate-logo {
    0% {
    background-position: 0 3200px;
    }
    100% {
    background-position: 3200px 0;
    }
   }
/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


.works_title {
    color: #7a480e;
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 55px;
    margin-left: 300px;
    text-align: right;
    max-width: 800px;
}
.services_first {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.card_info {
    color: #7a480e;
    width: 220px;
    height: 220px;
    border-radius: 0 10px 0 10px; 
    border: 3px solid #15b122; 
    box-shadow: 10px 10px 5px #999999; 
    text-align: justify;
    padding: 50px 10px 10px 10px;
    text-align: center;
}
.card_info:hover {
    outline: 2px solid #15b122; 
}
.search_img {
    margin-bottom: 30px;
}
.clients_review {
    max-width: 1200px;
    height: 400px;
    margin: 15px auto;
    padding: 0 60px;
    background-color: #f7f3eaef;
}
.review_title {
    font-weight: 500;
    padding-top: 40px;
}
.contacts_main {
    max-width: 1200px;
    height: 500px;
    margin: 15px auto;
    padding: 0 60px;
    background-color: #f7f3eaef;
}
.contacts_title {
    margin-left: 610px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 40px;
 }
.contacts_block {
    color: #7a480e;
    width: 600px;
    height: 220px;
    border-radius: 0 10px 0 10px; 
    border: 3px solid #15b122; 
    box-shadow: 10px 10px 5px #999999; 
    text-align: justify;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.contacts_block:hover {
    outline: 2px solid #15b122; 
}
.contacts_block {
    align-items: left;
  }
.contacts_modul {
    display: flex;
    margin-left: 20px;
    margin-top: 26px;
    gap: 40px;
}
.contacts_block_social {
    display:flex;
    justify-content: space-between;
}
.contacts_messengers {
    max-width: 600px;
    margin-top: 50px;
    font-weight: 500;
}
.socialmedia_block {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.developer {
    max-width: 1200px;
    height: 100px;
    margin: 15px auto;
    padding: 0 60px;
    background-color: #f0e1c0ef;
    border: solid 1px #15b122;
}
.developer_title {
    font-weight: 500;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.icon {
    display: inline-block;
    animation: float 2.5s ease-in-out infinite;
}
.viber_img {
    animation-delay: 0.5s;
}
.whatsapp_img {
    animation-delay: 1s;
}
.telegramm_img {
    animation-delay: 1.5s;
}
.instagramm_img {
    animation-delay: 2s;
}
.facebook_img {
    animation-delay: 2.5s;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}